<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <joint name="camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.571 0 -1.571" />
        <parent link="lidar_link" />
        <child link="camera_link_optical" />
    </joint>

    <link name="camera_link_optical"></link>



    <gazebo reference="lidar_link">
        <sensor name="camera1" type="depth">
            <always_on>true</always_on>
            <update_rate>5.0</update_rate>
            <camera>
                <!-- <horizontal_fov>1.0471975512</horizontal_fov> -->
                <horizontal_fov>1.08</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
    
                <!-- <distortion>
                <k1>0.1</k1>
                <k2>0.2</k2>
                <k3>0.3</k3>
                <p1>0.4</p1>
                <p2>0.5</p2>
                <center>0.5 0.5</center>
              </distortion> -->
            </camera>
            <plugin filename="libgazebo_ros_camera.so" name="camera_depth_frame_kinect_controller">
    
                <!-- <ros>
                    <namespace>custom_ns</namespace>
                    <argument>custom_camera/image_raw:=custom_camera/custom_image</argument>
                    <argument>custom_camera/image_depth:=custom_camera/custom_image_depth</argument>
                    <argument>custom_camera/camera_info:=custom_camera/custom_info_raw</argument>
                    <argument>custom_camera/camera_info_depth:=custom_camera/custom_info_depth</argument>
                    <argument>custom_camera/points:=custom_camera/custom_points</argument>
                </ros> -->
    
                <!-- Set camera name. If empty, defaults to sensor name (i.e. "sensor_name") -->
                <!-- <camera_name>custom_camera</camera_name>
    -->
                <!-- Set TF frame name. If empty, defaults to link name (i.e. "link_name") -->
                <frame_name>camera_link_optical</frame_name>
    
                <hack_baseline>0.07</hack_baseline>
    
                <!-- No need to repeat distortion parameters or to set autoDistortion -->
    
                <min_depth>0.001</min_depth>
                <max_depth>300.0</max_depth>
            </plugin>
        </sensor>
    </gazebo>

</robot>
